.section--trusted-by {
  padding: 6rem 0;

  .section-header {
    max-width: 60ch;
    margin-bottom: 5rem;
  }

  .section__title {
    font-weight: v("normal");
    opacity: v("faded");
  }

  .logo-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // @include gap(3rem);

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__logo {
      margin: 1rem;
      width: auto;
      max-height: 48px;
      max-width: 110px;

      @media screen and (max-width: 768px) {
        margin: 2rem;
      }
    }
  }
}
