$ossColor: rgb(67, 72, 118);

.root {
  overflow: hidden;

  padding: 8rem 0 4rem;

  @include media('<=phoneLandscape') {
    padding-bottom: 3rem;
  }
}

.container {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  margin-bottom: 1rem;

  .title,
  .subtitle {
    text-align: center;
  }

  .title {
    margin-bottom: 2rem;
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 2.25rem;
    font-weight: v('normal');
    font-family: v('ff-sans');

    margin: 2rem 0;
  }
}

.image {
  object-fit: contain;
  //max-height: 55rem;
}

.proTitle {
  font-family: v(ff-sans);
  font-weight: v('semi');
  color: c('brand-fire');
  font-style: italic;
  font-size: 3rem;

  margin-bottom: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;

  border-radius: 2rem;
  border: dashed 4px c('brand-fire');

  padding: 1rem;
}

.imageWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 8px;
  align-items: center;

  .aside {
    display: grid;
    grid-template-rows: 3fr 1fr;

    font-style: italic;
    text-align: center;

    .server {
      color: c('brand-fire');
    }
    .browser {
      color: $ossColor;
    }
  }
}
.textWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  .layer,
  .ossLayer {
    padding: 0.25rem;
    padding-left: 1rem;
  }

  .layerTitle {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .layerSubtitle {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: v('ff-sans');
  }

  .ossLayer {
    border-radius: 2rem;
    border: dashed 2px $ossColor;
    .ossTitle {
      font-size: 2rem;
      font-family: v(ff-sans);
      font-weight: v('semi');
      color: $ossColor;
      font-style: italic;
    }
  }
}
